//首頁瑜珈功效圖片高度
.h-420{
    height: 420px;
}

.card-img{
    border-radius: 16px;
}

//首頁師資卡片
.ms-95{
    @include pad{
        margin-left: -95px;
    }  
}

//選擇卡片外框
.card-check{
    border: 4px  solid $secondary;
}

.course-check{
    border: 4px solid $white;
}


.modal-dialog{
    max-width: 960px;
    @media(max-width: 992px){
        max-width: 640px;
    }
}