.h-420{
    height: 420px;
}

.card-img{
    border-radius: 16px;
}

.cardlist-lg{
    width: 635px;
    margin-left: -95px;
    color: $dark;
}
.h-444{
    height:444px;
}

.h-207{
    height: 207px;
}

.card-border{
    border: 1px solid $primary;
}

.border-bottom-w{
    border-bottom: 1px solid $white;
}