.form-check-input{
    border: 1px solid $primary;
}

.form-control,.form-select{
    border: 1px solid $primary;
    border-radius: 4px;
    color: $secondary;
}

.table {
    border-color: $secondary;
}