
@media (max-width: 992px) {
  .swiper-slide  {
    width: 48% !important;
    margin: 0.5rem 1%;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  flex-wrap: nowrap !important;
  @media (max-width: 992px) {
    flex-wrap: wrap !important;
  }
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



