
// 首頁精心課程
@media (max-width: 992px) {
  .swiper-slide  {
    width: 48% !important;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  flex-wrap: nowrap !important;  
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 預約課程階級選擇
@media (max-width: 768px) {

  .courselevelslide{
    width: 100% !important;
  }
}


