body{
    ol, ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    overflow-x: hidden;
}
main{
    overflow-x: hidden;
}
a{
    color: $black;
    text-decoration: none;   
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}
span,input,a{
    vertical-align: middle;
}

h1,h2,h3,h4,h5,p{
    margin-bottom: 0;
}

