.logo-img{
    width: 96px;
}

.img-cover{
    object-fit: cover;
}
.banner{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg?raw=true);
    background-position: bottom;
    background-size: cover;
    height: 582px;
}

.w-445{
    width: 445px;
}
.h-445{
    height: 445px;
}
.h-243{
    height: 243px;
}
.h-444{
    height:444px;
}

.h-207{
    height: 207px;
}
.h-sm-210{
    @media(max-width:768px){
        height: 210px;
    }
}

.img-60{
    width: 60px;
    height: 60px;
}

.img-94{
    width: 94px;
    height: 94px;
}

.img-96{
    width: 96px;
    height: 96px;
}


