// 平板以上
@mixin pad {
    @media(min-width:768px){
        @content
    }   
}
// pc板
@mixin pc {
    @media(min-width:992px){
        @content
    }   
}

// 手機版以上
@mixin mobile {
 @media(min-width:768px){
       @content
   }
    
 }

@mixin text-hidden {
    text-indent:110%;
    overflow:hidden;
    white-space:nowrap;
  }

 