@include mobile{
    .card-img-right{
        border-radius: 16px 0 0 16px;
    }
    .h-243{
        height: 243px;
    }
}

@include pad{
    .fs-md-1{
        font-size: 36px !important;
    }
    .fs-md-4{
        font-size: 24px !important;
    }
    .h-238{
        height: 238px;
    }
    
}

@include pc{
    .fs-lg-5{
        font-size: 20px !important;
    }
    .card-img-top{
        border-radius: 16px 16px 0 0;
    }
    .h-lg-243{
        height: 243px;
    }

}



