@include mobile{
    .card-img-right{
        border-radius: 16px 0 0 16px;
    }
    .h-243{
        height: 243px;
    }
}

@include pad{
    .fs-md-1{
        font-size: 36px !important;
    }
    .fs-md-4{
        font-size: 24px !important;
    }
    .h-238{
        height: 238px;
    }
    
}

@include pc{
    .fs-lg-5{
        font-size: 20px !important;
    }
    .card-img-top{
        border-radius: 16px 16px 0 0;
    }
    .h-lg-243{
        height: 243px;
    }

}

//陰影
.box-shadow{
    box-shadow: 0 3px 6px #00000029;
}

//邊框
.border-primary{
    border: 1px solid $primary;
}
.border-secondary{
    border: 1px solid $secondary;
}
.border-bottom{
    border-bottom: 1px solid $secondary;
}
.border-bottom-w{
    border-bottom: 1px solid $white;
}
.border-secondary-4{
    border: 4px solid $secondary;
}
.border-primary-4{
    border: 4px solid $primary;
}

//圓角
.border-radius-sm{
    border-radius: 4px;
}
.border-radius-m{
    border-radius: 4.8px;
}
.border-radius-lg{
    border-radius: 16px;
}


